<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="icon" href="./img/weather.png" type="image/x-icon">
    <title>{{title}} {{page}}</title>
</head>

<body>
    {{>header}}
    <div class="about">
        <div class="portrait">
            <img src="./img/me.jpg" alt="female gremlin" />
        </div>
        <div class="presentation">
            <p> Hello ! This site uses openweathermap and mapbox APIs.</p>
            <p> Mapbox to fetch geo-coordonates to given location.</p>
            <p> OpenWeathermap to find weather forcast relative to location.</p>
            <p> Launched by myself.</p>
            <p> Thanks to Andrew Mead's great teaching skills</p>
        </div>
    </div>

    {{>footer}}
</body>